<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title #{title}

  link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/bower_components/sweetalert/dist/sweetalert.css")
  link(rel="stylesheet", href="/css/style.css")

  script(src="/bower_components/angular/angular.js", charset="utf-8")
  script(src="/bower_components/angular-animate/angular-animate.js", charset="utf-8")
  script(src="/bower_components/angular-touch/angular-touch.js", charset="utf-8")
  script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js", charset="utf-8")
  script(src="/bower_components/angular-ui-router/release/angular-ui-router.js", charset="utf-8")
  script(src="/bower_components/sweetalert/dist/sweetalert.min.js", charset="utf-8")
  script(src="/bower_components/ngSweetAlert/SweetAlert.min.js", charset="utf-8")

  script(src="/js/bundle.js")

body(ng-app='myApp', ng-controller='mainController as main')
  .container-fluid
    h1 #{title}
    ui-view
